.catalog--header{
  background-color: #f2f6f8;
  margin: 20px 0;

  @include small {
    margin: 0 0 10px 0;
  }
}

.catalog__prod{
  display: flex;
  justify-content: space-between;
  position: relative;
}

.catalog__list{
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
}

.catalog__sort{
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1 0 74.4680%;
  margin-left: 2.12765%;
  border-radius: 5px;

  @include large {
    margin: 0;
    padding-left: 10px;
    flex: 1 0 75%;
  }
  @include medium {
    flex: 0 1 80%;
  }

  @include small {
    flex-basis: 100%;
    padding-left: 0;
  }


}
.btn__page{
  margin: 50px 0 60px 0;
  @include medium {
    padding-left: 20px;
  }
}

.btn__page--numb{
  height: 35px;
  width: 35px;
  margin-right: 14px;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  background: none;
  outline: none;

  &:hover{
    border: 1px solid #aca9a9;
  }
  
  &:active{
    border: 1px solid #fe5257;
  }

  @include medium{
    height: 25px;
    width: 25px;
    
  }
}

.page--next{
  width: 140px;
}

.btn__page--title{
  font-size: 13px;
  font-family: 'PT Sans', sans-serif;
  color: #000;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
}

.sort__btn-arrows {
  @include medium {
    font-size: 2px;
  }
}

.filter-button {
  border-radius: 3px;
  display: flex;
  align-items: center;
  color: #f2f6f8;
  justify-content: center;
  height: 20px;
  width: 60px;
  background: #fe5257;
  @include font-size(12);
  line-height: 1;
  font-family: 'PT Sans', sans-serif;
  text-transform: uppercase;
  position: absolute;
  top: 40px;
  left:10px;
  border: none;
  overflow: visible;
  // outline: none;
  visibility: hidden;
  cursor: pointer;
  z-index: 33;
  
  
  @include small {
    visibility: visible;
  }

    // &:active + .filter__checkbox{
   
    // }
  
}

.filter__checkbox{
  visibility: hidden;
  &:checked  ~ .catalog-filter {
    transform: translateX(0);
    background: #fff;
    box-shadow: 2px 2px 5px rgb(94, 89, 89);
  }
}