{% set items = [
{ photo: 'img/product1.png', title: 'Перфоратор BOSCH BFG 3000', oldPrice: '1500grn', price:'1000grn', new: false},
{ photo: 'img/product1.png', title: 'Перфоратор BOSCH BFG 6000', oldPrice: '1500grn', price:'1000grn', new: false},
{ photo: 'img/product1.png', title: 'Перфоратор BOSCH BFG 9000', oldPrice: '1500grn', price:'1000grn', new: false},
{ photo: 'img/product1.png', title: 'Перфоратор BOSCH BFG 3000', oldPrice: '1500grn', price:'1000grn', new: false},
{ photo: 'img/product1.png', title: 'Перфоратор BOSCH BFG 9000', oldPrice: '1500grn', price:'1000grn', new: false},
{ photo: 'img/product1.png', title: 'Перфоратор BOSCH BFG 9000', oldPrice: '1500grn', price:'1000grn', new: false},
{ photo: 'img/product1.png', title: 'Перфоратор BOSCH BFG 9000', oldPrice: '1500grn', price:'1000grn', new: false},
{ photo: 'img/product1.png', title: 'Перфоратор BOSCH BFG 5000', oldPrice: '1500grn', price:'1000grn', new: false},
{ photo: 'img/product1.png', title: 'Перфоратор BOSCH BFG 9000', oldPrice: '1500grn', price:'1000grn', new: false},
{ photo: 'img/product1.png', title: 'Перфоратор BOSCH BFG 9000', oldPrice: '1500grn', price:'1000grn', new: false},
{ photo: 'img/product1.png', title: 'Перфоратор BOSCH BFG 9000', oldPrice: '1500grn', price:'1000grn', new: false},
{ photo: 'img/product1.png', title: 'Перфоратор BOSCH BFG 9000', oldPrice: '1500grn', price:'1000grn', new: false},
{ photo: 'img/product1.png', title: 'Перфоратор BOSCH BFG 9000', oldPrice: '1500grn', price:'1000grn', new: false},
{ photo: 'img/product1.png', title: 'Перфоратор BOSCH BFG 9000', oldPrice: '1500grn', price:'1000grn', new: false},
{ photo: 'img/product1.png', title: 'Перфоратор BOSCH BFG 9000', oldPrice: '1500grn', price:'1000grn', new: false}
]
%}

<div class="container">
  {% set PagesNavItems = [
  { title: 'Каталог', href: '#'},
  { title: 'Инструменты', href: '#'},
  { title: 'Перфораторы', href: '#'}
  ] %}

  {% import 'components/Nav/pages-nav.html' as PagesNavList %}
  {{ PagesNavList.nav(PagesNavItems) }}
  </nav>
</div>





{% import "components/Products/Card/product-card.html" as product %}

<section class="section catalog">
  <div class="container container__catalog">
    <div class="section__header catalog--header">
      <h2 class="section__header--title">
        перфоратори
      </h2>
    </div>
    <div class="catalog__prod">

        <input type="checkbox" class="filter__checkbox" id="id"> 
      <label for="id" class="filter__label">
        
        <span class="filter-button">Фильтр</span></label>
      {% block filter %}
      {% include 'components/Catalog/filter/filter.html' %}
      {% endblock %}

      <div class="catalog__sort">


        {% block sort %}
        {% include 'components/Catalog/sort/sort.html' %}
        {% endblock %}

        <ul class="catalog__list">

          {% for item in items %}
          {{ product.card(item.photo, item.title, item.oldPrice, item.price, item.new) }}
          {% endfor %}

        </ul>
        <div class="btn__page">
          <button class="btn__page--numb">
            <p class="btn__page--title">1</p>
          </button>
          <button class="btn__page--numb">
            <p class="btn__page--title">2</p>
          </button>
          <button class="btn__page--numb">
            <p class="btn__page--title">3</p>
          </button>
          <button class="btn__page--numb page--next">
            <p class="btn__page--title">следующая</p>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>