{%
  set items = [
    { photo: 'img/product1.png', title: 'Перфоратор BOSCH BFG 9000', oldPrice: '1500grn', price:'1000grn', new: true},
    { photo: 'img/product1.png', title: 'Перфоратор BOSCH BFG 9000', oldPrice: '1500grn', price:'1000grn', new: true},
    { photo: 'img/product1.png', title: 'Перфоратор BOSCH BFG 9000', oldPrice: '1500grn', price:'1000grn', new: false},
    { photo: 'img/product1.png', title: 'Перфоратор BOSCH BFG 9000', oldPrice: '1500grn', price:'1000grn', new: false}
  ]
%}

{% import "components/Products/Card/product-card.html" as product %}

<section class="section products">
  <div class="container">
    <div class="section__header">
      <h2 class="section__header--title">
      популярні товари:
      </h2>
      <a href="catalog.html" class="section__header--btn">
        <p class="section__header--btn--title">
          всі популярні товари
        </p>
      </a>
    </div>
    <ul class="products__list">
      {% for item in items %}
        {{ product.card(item.photo, item.title, item.oldPrice, item.price, item.new) }}
      {% endfor %}
    </ul>
  </div>
</section>