.words {
    background-color: #f5f8fa;
    padding-top: 65px;
    padding-bottom: 70px;
    
    
   
  
  
    @include extra {
      padding-left: 40px;
      padding-right: 40px;
    }
  }
  
  
  
  .words__title {
    margin-top: 0;
    color: $primary-text;
    text-transform: uppercase;
     font-size: 26px;
    
    
  }
  
  .words__description-wrap {
    width: 50%;
    
  }
  
  .words__description{
    line-height: 160%;
  }