<section class=" section words">

    <div class="container container--words">
        <div class="words__description--wrap">
            
            <h2 class="words__title">ПАРА СЛОВ О ПЕРФОРАТОРАХ</h2>
            <p class="words__description">
                Перфоратор - универсальный строительный инструмент. Предназначен для сверления и долбления отверстий в кирпиче, бетоне и камне.
                <br>Существуют электромеханические и пневматические перфораторы. Современные модели могут выполнять функции дрели, шуруповерта и отбойного молотка. 
                В ассортиментном ряду есть выбор "трехрежимников": в одном устройстве будут совмещены отбойный молоток и ударная дрель.                         
            </p>
        </div>
    </div>
</section>
