.header-top-order {
  height: 42px;
  display: flex;
  align-items: center;

  @include medium {
    flex: 1 0 33.333%;
    justify-content: flex-end;
  }

  @include extra-small {
   height: 30px;
  }
  

}

.header-top-order__bookmarks {
  position: relative;
  height: 100%;
  flex: 0 1 160px;
  transition: background 0.1s linear, opacity 0.1s linear;

  &:hover {
    background: #212939;
  }
  &:hover .header-top__icon {
    opacity: 1;
  }

  @include medium {
    flex: 0 1;
  }

  @include medium {
    &:hover {
      .header-top-order__title-wrap {
        visibility: visible;
      }
    }
  }

  
  
}

.header-top-order__cart {
  position: relative;
  height: 100%;
  transition: background 0.1s linear, opacity 0.1s linear,
    visibility 0.3s linear;
  flex: 0 1 160px;
  &:hover {
    background: #212939;
  }

  @include medium {
    &:hover {
      .header-top-order__title-wrap {
        visibility: visible;
      }
    }
  }
  &:hover .header-top__icon {
    opacity: 1;
  }

  @include medium {
    flex: 0 1;
  }
}

.header-top-order__link {
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  @include font-size(17);
  line-height: 18px;
  color: #fff;

  &:active {
    background: #161d29;
    opacity: 0.4;
  }

  @include small {
    @include font-size(13);
  }
  @include extra-small {
    @include font-size(10);
  }

}

.header-top-order__title-wrap {
  display: flex;

  @include medium {
    position: absolute;
    visibility: hidden;
    bottom: -80%;
    background: $primary;
    padding: 8px;
  }

  
  
  @include extra-small {
    padding: 3px;
  }
}

.header-top-order__title {
  margin: 0;
}

.header-top-order__count {
  padding-left: 5px;
}

.header-top-order__btn {
  height: 100%;
  flex: 1 0 150px;
  background: #6cb253;
  color: #fff;
  font-family: "Cuprum", sans-serif;
  @include font-size(17);
  line-height: 18px;
  border: none;
  cursor: pointer;
  outline: none;
  transition: background 0.1s linear;

  &:hover {
    background: #5fbb2d;
    transition: background 0.1s linear;
  }

  &:active {
    background: #508534;
    opacity: 0.4;
  }

  @include medium {
    flex: 0 1 150px;
  }
  @include small {
    flex: 0 1 100px;
    @include font-size(13);
  }

  @include extra-small {
    @include font-size(10);
  }
}
