<div class="header-top">
  <div class="container container--header-top">
    <div class="header-top__col header-top__left-col">
    {% include 'components/Logo/logo.html' %}

    <form action="none" class="header-top-search__form">
      <input id="header-top-search" type="search" placeholder="Поиск:" class="header-top-search__input">
      <span class="header-top__icon header-top__icon--search">
       <label for="header-top-search"><i class="material-icons header--icon">search</i></label>
      </span>  
    </form>
  </div>
    <div class="header-top__col header-top-order">
      <div class="header-top-order__bookmarks">
        <a href="" class="header-top-order__link">
         
          <span class="header-top__icon">
            <i class="material-icons header--icon">bookmark</i>
          </span>
          <div class="header-top-order__title-wrap">
          <h4 class="header-top-order__title">Закладки:</h4>
          <span class="header-top-order__count">0</span>
        </div>
        </a>
      </div>
      <div class="header-top-order__cart">
          <a href="#" class="header-top-order__link">
             
            <span class="header-top__icon">
              <i class="material-icons header--icon">shopping_cart</i>
            </span>
            <div class="header-top-order__title-wrap">
            <h4 class="header-top-order__title">Корзина:</h4>
            <span class="header-top-order__count">0</span>
            </div>
          </a>
      </div>
      <button class="header-top-order__btn">
        Оформить заказ
      </button>
    </div>

  </div>
</div>