.service {
  background-color: #f5f8fa;
  padding-top: 70px;
  padding-bottom: 85px;
}



.service__title {
  margin-top: 0;
  font-family: $base-font;
  color: $primary-text;
  text-transform: uppercase;
}

.service__description-wrap {
  width: 50%;
}

.service__openfolder {
  display: flex;
}

.service__list {
  list-style: none;
  padding: 0;
}
