.service {
  background-color: #f5f8fa;
  padding-top: 70px;
  padding-bottom: 85px;

@include extra-small {
  padding-top: 20px;
  padding-bottom: 20px;

}

 
}

.container--service {
  @include large {
    padding-right: 40px;
    padding-left: 40px;
  }

  @include extra-small {
    padding-left: 10px;
    padding-right: 10px;
    }
}



.service__title {
  margin-top: 0;
  font-family: $base-font;
  color: $primary-text;
  text-transform: uppercase;

  
  
}

.service__description-wrap {
  width: 50%;
  @include medium {
    width: 100%
  }
}

.service__openfolder {
  display: flex;
}

.service__list {
  list-style: none;
  padding: 0;
  flex: 1 0 25%;  

  @include extra-small {
    flex-basis: 33.333%
  }
}
