{%
    set serviceTitle = 'Сервисы'
  %}



<section class="section service">
    <div class="container container--service">
      <div class="service__description-wrap">
        <h2>{{ serviceTitle }}</h2>
        <p class="service__description">
         Хороший интернет-магазин отличается от плохого не только ценами! Мы стараемся изо всех сил, чтобы сделать ваши покупки приятными. 
        </p>
        <ul class="service__list-group">
                <li class="service__list-group-item active">Доставка</li>
                <li class="service__list-group-item">Гарантия</li>
                <li class="service__list-group-item">Кредит</li>
        
              </ul> 
      </div>
    </div>
  </section>