{%
    set serviceTitle = 'Сервисы'
  %}
  {%
    set items = [
      { title: 'Доставка'},
      { title: 'Гарантия'},
      { title: 'Кредит'  }
    ]
  %}
  
  {% import "components/Service/Menu/menu.html" as service %}

  

<section class=" service">
    <div class="container container--service">
      <div class="service__description-wrap">
        <h2 class="service__title">{{ serviceTitle }}</h2>
        <p class="service__description">
         Хороший интернет-магазин отличается от плохого не только ценами! Мы стараемся изо всех сил, чтобы сделать ваши покупки приятными. 
        </p>
      </div>
      <div class="service__openfolder">

        <ul class="service__list">
          {% for item in items %}
          {{ service.menu(item.title) }}
          {% endfor %}
        </ul>
        {% include 'components/Service/Menu/Openfolder/Delivery/delivery.html' %}
      </div>
    </div>
  </section>