    <section class="offer-block clearfix">
        <div class="clearfix">
          <div class="block materials">
            <div class="flag-new new">Новинка</div>
            <div class="block-title"> Материалы</div>
            <a class="block-btn" href="#">На любой вкус</a>
          </div>
          <div class="block tools">
            <div class="flag-new"></div>
            <div class="block-title">Инструмент</div>
            <a class="block-btn" href="#">На все случаи</a>
          </div>
          <div class="block equipment">
            <div class="flag-new"></div>
            <div class="block-title">Техника</div>
            <a class="block-btn" href="#">Для стройки</a>
          </div>
        </div>
        <section class="offer-slider">
          <div class="offer-slide offer-slide-1 ">
            <div class="offer-slide-title">
              <h4>ДРЕЛИ</h4>
              <p>Соседям на радость</p>
            </div>
            <!-- <img src="/src/assets/img/man-1.png" alt="Мужик с дрелью"> -->
          </div>
          <div class="offer-slide offer-slide-2">
            <div class="offer-slide-title">
              <h4>Перфораторы</h4>
              <p>Настоящие мужские игрушки</p>
            </div>
            <!-- <img src="/src/assets/img/man-2.png" alt="Мужик с перфоратором"> -->
          </div>
          <a href="#" class="icon-left offer-slider-btn"></a>
          <a href="#" class="icon-right offer-slider-btn"></a>
          <a class="btn open-catalog-btn" href="#">Открыть каталог</a> <!-- Тут, при нажатии, будет открыватся страница Каталог -->
          <div class="switcher">
            <div class="switch-btn active-switch-btn switch-btn-1"></div>
            <div class="switch-btn switch-btn-2"></div>
          </div>
        </section>
        <div class="block sale">
          <div class="flag-new"></div>
          <div class="block-title">Скидка 50%</div>
          <a class="block-btn" href="#">На 350 товаров</a>
        </div>
        <div class="block delivery">
          <div class="flag-new"></div>
          <div class="block-title">Доставка</div>
          <a class="block-btn" href="#">Бесплатно</a>
        </div>
      </section>