    <section class="section clearfix">
        <div class="container-1">
                <div class="clearfix__materials">
                  <div class="flag-new new">Новинка</div>
                  <h3 class="clearfix__title"> Материалы</h3>
                  <a class="clearfix__btn" href="#">На любой вкус</a>
               </div>
                <div class="clearfix_tools">
                  <div class="flag-new"></div>
                  <h3 class="clearfix__title">Инструмент</h3>
                  <a class="clearfix__btn" href="#">На все случаи</a>
                </div>
                <div class="clearfix__equipment">
                  <div class="flag-new"></div>
                  <h3 class="clearfix__title">Техника</h3>
                  <a class="clearfix__btn" href="#">Для стройки</a>
                </div>
        </div>
        
        <div class="offer__slider">
            <a class="slide__control__left" href="#"></a>
            <a class="slide__control__right" href="#"></a>
            <div class="offer__slide active">
                <h2 class="offer__title">Дрели</h2>
                <span class="offer__subtitle">Соседям на радость!</span>
                <a class="btn" href="#">Открыть каталог</a>
            </div>
            <div class="offer-slide">
                <h2 class="offer__title">Перфораторы</h2>
                <span class="offer__subtitle">Настоящие мужские игрушки!</span>
                <a class="btn" href="#">Открыть каталог</a>
            </div>
        </div>
        <div class="offer-item">
            <div class="flag"></div>
            <h2 class="offer__title">Скидки 50%</h2>
            <a class="offer__btn" href="#">На 350 товаров</a>
        </div>
        <div class="offer-item">
            <div class="flag"></div>
            <h2 class="offer__title">Доставка</h2>
            <a class="offer__btn" href="#">Бесплатно</a>
        </div>
    
      </section>