<section class="category">
  <div class="container">

    <div class="category__row">
      <div class="category__column category__column--1">
        <div class="category-item category-item--materials label-new">
          <h2 class="category-item__title">
            Материалы
          </h2>
          <a class="btn btn--category" href="#">
            На любой вкус
          </a>
          <i class="category-item__icon category-item__icon--materials">
          </i>
          <i class="label-new">
          </i>
        </div>
      </div>
      <div class="category__column category__column--1">
        <div class="category-item category-item--tools">
          <h2 class="category-item__title">
            Инструмент
          </h2>
          <a class="btn btn--category" href="#">
            На все случаи
          </a>
          <i class="category-item__icon category-item__icon--tools">
          </i>
        </div>
      </div>
      <div class="category__column category__column--1">
        <div class="category-item category-item--machinery">
          <h2 class="category-item__title">
            Техника
          </h2>
          <a class="btn btn--category" href="#">
            Для стройки
          </a>
          <i class="category-item__icon category-item__icon--machinery">
          </i>
        </div>
      </div>
    </div>
    <div class="category__row">
      <div class="category__column category__column--2">
        <div class="slider">
          <div class="slide slide">
            <h2 class="slide__title">
              Перфораторы
            </h2>
            <p class="slide__slogan">
              Настоящие мужские игрушки
            </p>
          </div>
          <a class="btn btn--slider" href="catalog.html">
            Открыть каталог
          </a>
        </div>
      </div>
      <div class="category__column category__column--1">
        <div class="category-item category-item--discount category-item--right">
          <h2 class="category-item__title">
            Скидки 50%
          </h2>
          <a class="btn btn--category" href="#">
            На 350 товаров
          </a>
          <i class="category-item__icon category-item__icon--discount">
          </i>
        </div>
        <div class="category-item category-item--delivery  category-item--right">
          <h2 class="category-item__title">
            Доставка
          </h2>
          <a class="btn btn--category" href="#">
            Бесплатно
          </a>
          <i class="category-item__icon category-item__icon--delivery">
          </i>
        </div>
      </div>
    </div>
  </div>
</section>