.footer-top {
  width: 100%;
  background: #3c536e;
}

.footer-top .footer-top__row {
  &:last-child {
    align-items: flex-start;
  }
}

.footer__logo {
  flex: 0 1 220px;

  @include small {
    flex-basis: 120px;
   }
}

.footer-top__row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 52px;

  @include extra {
    padding-right: 30px;
  }

  @include large {
    align-items: flex-start;
    padding-bottom: 20px;
   }

   @include medium {
   padding-right: 0;
   padding-bottom: 10px;
   }

   @include extra-small {
    align-items: flex-start;
    padding-right: 15px;
   }

   @include tiny {
    align-items: flex-start;
    padding-right: 0;
   }
}

.nav__footer .nav__link {
  @include font-size(18);
  line-height: 24px;
  color: #f3f7f9;
  padding: 0;

  &:hover {
    background: transparent;
    text-decoration: underline;
  }

  &:active {
    opacity: 0.3;
  }
  @include medium {
    @include font-size(15)
   }

   @include extra-small {
    @include font-size(10)
    
   }   


}

.nav__footer {
  
  @include large {
    padding-left: 40px  ;
    display: flex;
    justify-content: space-between;   
}

  @include extra-small {
  padding-left:  10px;
 }
}

.nav__footer .nav__item {
  padding-left: 60px;
    
  @include large {
    flex: 0 1 ;
    display: flex;
    padding: 20px;
  }

  @include medium {
   padding: 12px;
}

@include extra-small {
  padding: 5px;
 }

}

.nav__footer--yellow .nav__link {
  color: #ffda96;
}

.footer-top__adress-wrap {
  color: #f3f7f9;
  @include font-size(18);
  line-height: 24px;

  @include extra {
    padding-left: 30px;
  }

  @include medium {
    @include font-size(15)
   }

   @include small {
    @include font-size(12);
    line-height: 15px;
    padding-left: 20px;
   }

   @include extra-small {
    @include font-size(10);
       }

       @include tiny {
        @include font-size(8);
        line-height: 10px;
        padding-left: 10px;
}
}

.footer-top__adress-wrap p {
  margin: 0;
}
