<section class="section about">
    <div class="container container__about">
      <div class="section__about">
        <h2 class="section__title">компания "техномарт"</h2>
        <p class="section__sub-title">Настоящий мужской шоппинг начинается здесь! Огромный выбор товаров для ремонта и строительства не оставит равнодушными любителей сэкномить на гастарбайтерах.</p>
        <p class="section__sub-title">Мы можем доставить ваш товар в самые отдаленные точки России!
          Техномарт работает со многими транспортными компаниями: </p>
        <ul class="section__about--list">
          <li class="section__about--item">Деловые линии</li>
          <li class="section__about--item">Автотрейдинг</li>
          <li class="section__about--item">ЖелДорЭкспедиция</li>
        </ul>
        <a href="#" class="section__header--btn">
          <p class="section__header--btn--title">
            подробней о компании
          </p>
        </a>
      </div>
      <div class="section__contact">
          <h2 class="section__title">контакты</h2>
          <p class="section__sub-title">Вы можете забрать товар сами, 
            заехав в наш офис:</p>
            <div class="contacts--map">
              {% block map %}
                {% include 'components/about/map/snazzy-maps-example-ultra-light-with-labels-style.html' %}
              {% endblock %}
            </div>
          <a href="#" class="section__header--btn">
            <p class="section__header--btn--title">
              заблудились? напишите нам!
            </p>
          </a>
      </div>
    </div>
  </section>