.service__item   {
  display: flex;
  align-items: center;
  width: 240px;
  height: 60px;
  line-height: 45px;
  background: #3c536e;
  margin: 0;
  color: #fff;
  padding-left: 15px;
  cursor: pointer;
  font-family: $base-font;
  transition: background .2s ease-in-out, border-bottom .2s linear;
  border-bottom: 1px solid #33445b ;
  border-bottom:1px solid #4e637c;

  .title {
    @include font-size(21);
    line-height: 30px;
  }
  
  &:hover{
      background-color: #fff;
      color: #3c536e;
      border-bottom: none;
    }

  
}