{% extends 'template.html' %}

{% block title %}
  Main page
{% endblock %}

{% block content %}

{% include 'components/Offer/offer.html'  %}
{% include 'components/Layout/Footer/footer.html'  %}
{% include 'components/Layout/Header/header.html'  %}
{% include 'components/About/about.html'  %}
{% include 'components/Logo/logo.html'  %}
{% include 'components/Maker/maker.html'  %}
{% include 'components/Products/products.html'  %}
{% include 'components/SectionHeader/sectionheader.html'  %}
{% include 'components/Service/service.html'  %}
{% include 'components/Products/products.html'  %}

{% endblock %}