.garantee__title {
  font-family: $base-font;
  @include font-size(36);
  line-height: 24px;
  color: #3c536e;
  text-transform: uppercase;
}

.garantee__description {
  color: $primary-text;
}

.garantee {
  background-color: #f5f8fa;
  color: #000;
  position: relative;
  border: none;
  height: 210px;
  width: 700px;
  display: flex;
    
    &::before{
      content: '';
      position: absolute;
      border-top-left-radius: 50%;
      border-top-right-radius: 50%;
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
      width: 6px;
      height: 100%;
      top: 0;
      left: -4px;
      background:linear-gradient(to right, rgba(226,226,226,0.03) 0%,rgba(224,224,224,0.03) 2%,rgba(191,191,191,0.26) 43%,rgba(99,99,99,0.58) 100%);
      z-index: 33;
    }
}

.garantee__img {
  display: flex;
  margin-left: 135px;
  justify-content: flex-end;
  align-items: center;
  width: 36%;
}

.garantee__description-wrap {
  color: #3c536e;
  width: 50%;
  margin-left: 80px;
  justify-content: flex-start;
}
