<<<<<<< HEAD
.catalog__sort {
  flex: 1 0 74.4680%;
  margin-left: 2.12765%;  
}

.catalog__sort--header {
  background-color: #f7f3ec;
  display: flex;
  justify-content: space-between;
=======
.catalog__sort--header{
  background-color: #f7f3ec;
  display: flex;
  justify-content: space-between;
  border-radius: 2px;
>>>>>>> Taras
}

.catalog__sort--title {
  margin: 0;
  padding: 15px;
}

<<<<<<< HEAD
.catalog--sort__btn {
  width: 50%;
=======
.catalog--sort__btn{
  width: 60%;
>>>>>>> Taras
  display: flex;
  justify-content: space-between;
  padding-right: 16px;
}

.sort__btn {
  text-decoration: none;
  border: none;
  outline: none;
  background: none;
  padding: 0;
<<<<<<< HEAD
  &:hover {
    .sort__btn--title {
      text-decoration-color: #fe5257;
=======
  &:hover{
    .sort__btn--title{
      color: #000;
      opacity: 1;
      text-decoration: underline;
      text-decoration-style: line;
      text-decoration-color: #ee3643;
    }
  }
  &:active{
    .sort__btn--title{
      color: #ee3643;
      text-decoration: none;
>>>>>>> Taras
    }
  }
}

.catalog__sort--title {
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
}

.sort__btn--title {
  margin: 0;
  text-transform: uppercase;
<<<<<<< HEAD
}
=======
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  opacity: 0.5;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: #ee3643;
}
.btn-arrow{
  color: #c5c5c5;
  font-size: 40px;
  text-align: center;
  cursor: pointer;

  &:hover{
    color: #000;
  }

  &:active{
    color: #ee3643;
  }
}
>>>>>>> Taras
