<div class="catalog__sort--header">
  <h3 class="catalog__sort--title">
    Сортировка:
  </h3>
  <div class="catalog--sort__btn">
    <button class="sort__btn"><p class="sort__btn--title">по цене</p></button>
    <button class="sort__btn"><p class="sort__btn--title">по типу</p></button>
    <button class="sort__btn"><p class="sort__btn--title">по функционалу</p></button>
    <i class="material-icons btn-arrow">arrow_drop_up</i>
    <i class="material-icons btn-arrow">arrow_drop_down</i>
  </div>
</div>