.header-content {
  display: flex;

  @include small {
    flex-direction: column;
    padding: 0 20px;
  }

  @include tiny {
    padding: 0 5px;
  }
}

.header-content__description {
  font-style: italic;
  color: #ff5357;
  margin: 0;
  line-height: 24px;
  @include font-size(16);

  @include small {
    padding: 10px 0;
    @include font-size(13);
  }

  @include extra-small {
    padding: 7px 0;
    @include font-size(10);
  }

  @include tiny {
    padding: 5px 0;
    @include font-size(8);
  }
}

.header-content__box {
  display: flex;
  align-items: center;
  flex: 1 0 33.33333%;
  margin: 0;
  padding: 40px 50px 32px 50px;

  @include medium {
    padding: 15px 20px 15px 20px;
  }

  @include small {
    padding: 0;
    justify-content: center;
  }
}

.header-content__adress {
  @include font-size(14);
  line-height: 24px;
  color: $secondary;
  margin-top: 8px;

  @include small {
    margin: 0;
    justify-content: center;
  }

  @include extra-small {
    margin: 0;
    @include font-size(10);
  }

  @include tiny {
    @include font-size(8);
  }


}

.header-content__box--phone {
  padding-top: 45px;
  padding-bottom: 25px;
  padding-left: 0px;
  padding-right: 20px;
  flex-direction: column;
  @include medium {
    padding: 15px 10px 15px 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  @include small {
    padding: 0;
    flex-direction: row;
    justify-content: space-around;
  }
}

.header-content__phone {
  display: flex;
  align-items: center;
  width: 270px;
  @include medium {
    width: 100%;
  }

  @include small {
    width: 200px;
  }

  @include extra-small {
    width: 150px;
  }

  @include tiny {
   width: 120px;
  }

}

.header-content__phone-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 45px;
  color: #c5c5c5;
  text-align: center;
  @include medium {
    width: 30px;
  }
}

.phone--icon {

  @include extra-small {
    @include font-size(15);
  }

  @include tiny {
    @include font-size(13);
  }
}

.header-content__phone-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 42px;
  width: 100%;
  @include font-size(21);
  line-height: 18px;
  text-decoration: none;
  color: #fb463c;
  border: 3px solid #fff;

  @include medium {
    @include font-size(19);
  }

  @include extra-small {
    @include font-size(13);
    height: 35px;
  }

  @include tiny {
    height: 20px;
    @include font-size(10);
    border: 1px solid #fff;
  }
}

.header-content__phone-number {
  display: block;
  padding-right: 50px;

  @include medium {
    padding-right: 25px;
  }

  @include extra-small {
    padding-right: 10px;
  }
}

.header-content__button {
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  align-items: center;
  color: $primary;
  height: 42px;
  font-family: "Cuprum", sans-serif;
  background: #fff;
  border: 0;
  @include font-size(21);
  line-height: 18px;
  outline: none;
  cursor: pointer;
  transition: color 0.1s linear;

  &:hover {
    color: #fb463c;
  }

  &:hover .enter-button__icon {
    color: #32425c;
  }

  &:active {
    color: #c5c5c5;
  }

  &:active .enter-button__icon {
    color: #c5c5c5;
  }

  @include small {
    justify-content: center;
    height: 30px;
  }

  @include extra-small {
    justify-content: center;
    height: 20px;
  }
}

.header-content__box--button {
  padding: 45px 0px 25px 0;
  justify-content: flex-end;
  align-items: flex-start;

  @include large {
    padding: 20px 10px 20px 50px;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }

  @include small {
    flex-direction: row;
    padding: 10px 0px;
  }
}

.enter-button {
  width: 120px;
  padding-left: 0px;

  @include small {
    border-radius: 5px;
  }

  @include extra-small {
    width: 100px;
    border-radius: 5px;
  }
}
.registration-button {
  width: 150px;
  margin-left: 10px;

  @include large {
    margin-left: 0;
    margin-top: 10px;
  }

  @include small {
    margin: 0;
    border-radius: 5px;
  }
}

.enter-button__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #c5c5c5;
  text-align: center;
  margin: 0 9px;
  transition: color 0.1s linear;

  

.enter--icon {
  @include extra-small {
    @include font-size(16);
  }
}

}

.button__description {
  @include small {
    @include font-size(17);    
  }

  @include extra-small {
    @include font-size(13);    
  }
}