<div class="header-content">
  <div class="header-content__box">
  <p class="header-content__description">
    Интернет-магазин строительных материалов и инструментов для ремонта
  </p>
</div>
  <div class="header-content__box phone--box">
    <div class="header-content__phone">
      <a class="header-content__phone-link" href="tel:++7(812)5550555">
        <span class="header-content__phone-icon"><i class="material-icons">local_phone</i></span>
        <span class="header-content__phone-number">+7 (812) 555-05-55</span>
      </a>           
    </div>
      <p class="header-content__adress">г. Санкт-Петербург, ул. Б. Конюшенная, д. 19/8</p>
  </div>
  <div class="header-content__box button--box">
    <button class="header-content__button enter-button">
      <span class="enter-button__icon">
          <i class="material-icons">
              exit_to_app
          </i>
      </span>
      <span class="enter-button__description">Войти</span>
    </button>
    <button class="header-content__button registration-button">
        <span class="registration-button__description">Регистрация</span>
    </button>
  </div>
</div>