.delivery__title {
  font-family: $base-font;
  @include font-size(36);
  line-height: 24px;
  color: #3c536e;
  text-transform: uppercase;

  @include extra-small {
    @include font-size(20);
    margin: 10px 0;
  }

}

.delivery__description {
  color: $primary-text;
  width: 100%;

  @include extra-small {
    @include font-size(13);
    margin: 10px 0;
  }

}

.delivery {
  background-color: #f5f8fa;
  display: flex;
  color: #000;
  position: relative;
  border: none;
  height: 210px;
  display: flex;
  flex: 1 0 75%;

  @include extra-small{
    height: 100%;
    margin-top: 12px ;
    flex: 1 0 66.6666%;
  }
    
    &::before{
      content: '';
      position: absolute;
      border-top-left-radius: 50%;
      border-top-right-radius: 50%;
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
      width: 6px;
      height: 100%;
      top: 0;
      left: -3px;
      background:linear-gradient(to right, rgba(226,226,226,0.03) 0%,rgba(224,224,224,0.03) 2%,rgba(191,191,191,0.26) 43%,rgba(99,99,99,0.58) 100%);
      z-index: 33;
    }
}

.delivery__img {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1 0 50%;
  
  img
  {
    display: block;
  }

  @include medium {
    position: absolute;
    height: 125%;
    left: 30%;
    bottom: -50px;
    opacity: 0.12;
  }
  @include extra-small {
    height: 100%;
    left: 10%;
    bottom: -20px;    
  }

  @include tiny {
   
    left: 2%;
   
  }
}

.delivery__description-wrap {
  color: #3c536e;
  width: 100%;
  padding-left:80px;
  justify-content: flex-start;

  @include extra-small {
      display: flex;
      flex-direction: column;
      padding-left: 20px;
      align-items: flex-start;
    }

    @include tiny {
      padding-left: 10px;   
    }
 

  
}
