<div class="footer-bottom">
  <div class="container container--footer">
    <div class="footer-bottom__box">
      <p class="footer-bottom__copyright">
        © 2010–2017 Компания «Техномарт»
      </p>
      <p class="footer-bottom__copyright">
        Все права защищены
      </p>
    </div>
    <div class="footer-bottom__box footer-bottom--socials">
      <ul class="socials__list">
        <li class="socials__item">
          <a href="#" class="socials__link">
            <span class="socials__icon"><i class="fab fa-vk"></i></span>
          </a>
        </li>
        <li class="socials__item">
          <a href="#" class="socials__link">
            <span class="socials__icon"><i class="fab fa-facebook-f"></i></span>
          </a>
        </li>
        <li class="socials__item">
          <a href="#" class="socials__link">
            <span class="socials__icon"><i class="fab fa-instagram"></i></span>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-bottom__box footer-bottom--contacts">
      <div class="footer-bottom__contact">
        <h5 class="contacts__title">Обратная связь:</h5>
        <a href="mailto:mail@htmlacademy.ru" class="contacts__link">mail@htmlacademy.ru</a>
      </div>
      <div class="footer-bottom__contact">
        <h5 class="contacts__title">Разработано —</h5>
        <a href="https://htmlacademy.ru" class="contacts__link">htmlacademy.ru</a>
      </div>
    </div>
  </div>