.pages-nav__list {
  display: flex;
  list-style: none;
  padding-left: 0;

  @include large {
    padding-left: 10px;
  }
  @include extra-small {
    margin: 5px 0;
  }
  
}

.pages-nav__link {
  text-decoration: none;
  font-family: "PT Sans", sans-serif;
  @include font-size(12);
  line-height: 18px;
  color: #000;
  text-transform: uppercase;
  padding-right: 11px;
  transition: color 0.1s linear;
  &:hover {
    color: #ed3543;
  }

  @include medium{
    @include font-size(10);
  }

  @include extra-small {
    @include font-size(8);
  }
}

.pages-nav__item {
  padding-top: 4px;
  display: flex;
  transition: color 0.1s linear;
  &:last-child {
    .arrow__icon {
      visibility: hidden;
    }
  }
}

.arrow__icon {
  padding-right: 11px;
  color: #d8dce2;
  @include font-size(25);
  line-height: 15px;
  font-weight: 200;
}
.home__icon {
  color: #d8dce2;
  transition: color 0.1s linear;
  &:hover {
    color: #ed3543;
  }
}
