{% macro nav(items = []) %}
<ul class="pages-nav__list">
    <li class="pages-nav__item ">
        <a href="{{ item.href }}" class="pages-nav__link">
            <i class="fas fa-home home__icon"></i>
        </a>
        <span class="arrow__icon">></span>
      </li>
  {% for item in items %}
    <li class="pages-nav__item ">
      <a href="{{ item.href }}" class="pages-nav__link">
        {{ item.title }}
      </a>
      <span class="arrow__icon">></span>
    </li>
    {% endfor %}
</ul>
{% endmacro%}